<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <key>BGTaskSchedulerPermittedIdentifiers</key>
    6
    ¢
    ‹array>
    7
    «string>com. abc. com. EventHub, refresh</string>
8
</array>
9
<key>CFBundLeDevelopmentRegion</key>
10
«string>$(DEVELOPMENT_LANGUAGE) </string>
11
‹key>CFBund leExecutable</key>
12
«string>$(EXECUTABLE_NAME) </string>
13
<key>CFBundleIdentifier</key>
14
«string>$(PRODUCT_BUNDLE_IDENTIFIER) </string>
15
<key>CFBundleInfoDictionaryVersion</key>
16
«string>6.0</string>
17
<key>CFBund leName</key>
18
«string>$(PRODUCT_NAME)</sring>
19
<key>CFBund lePackageType</key>
20
«string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
21
«key»CFBundleShortVersionString</key>
22
«string>$ (MARKETING_VERSION)</string>
23
<key>CFBundleVersion</key>
24
«string>$(CURRENT_PROJECT_VERSION)</string>
25
<key-NSLocationWhenInUseUsageDescription</key>
    26
    «string>We need location to show nearby events</string>
27
<key>UIApplicationSceneManifest</key>
28
‹dict>
29
‹key>UIApplicationSupportsMultipleScenes</key>
30
‹false/>
31
</dict>
32
<key>UIApplicationSupportsIndirectInputEvents</key>
33
‹true/
34
‹key>UILaunchScreen</key>
35
‹dict/>
36
< key>UISupportedInterfaceDrientations</key>
37
carray>
38
«string>UIInterfaceOrientationPortrait</string>
39
«string>UIInterface0rientationLandscapeLeft</string>
40
‹string>UIInterface0rientationLandscapeRight</string>
41
</array,
42
‹key>UISupportedInterface0rientations~ipad</key>
43
carray»
44
«string>UlInterfaceOrientationPortraits/string>
45
46
«string>UTInterface0rientationPortraitUpsideDown</string>
«string>UIInterface0rientationLandscapeLeft</string>
47
‹string>UlInterfaceOrientationLandscapeRights/string>
48
</array>
49
</plist>
